
body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    margin: 10px 0px auto auto;
    /*margin: 0 auto; */
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    // line-height: ;
}

h2{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    color: #66BFBF;
    font-weight: bold;
    
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    // line-height: ;
}

p{
    line-height: 2;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    /* to remove the underline below the links */
    text-decoration: none; 
}

a:hover{
    color: #eaf6f6;
}

hr{
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px auto;
}

.pro{
    text-decoration: underline;
    color: #66BFBF;
}

.intro{
    width: 30%;
    margin: auto;
}

img{
    border-radius: 100%;
    padding: 15px;
}

/*
div{
    background-color: #fceef5;
}
*/
.topContainer{
    background-color: #e8ffff;
    padding-top: 50px;
    position: relative;
}

.middleContainer{
    margin: 100px 0px;   
    position: relative;
}

.bottomContainer{
    background-color: #66BFBF;
    padding: 50px 0 20px ;
}

.penguin{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 65px;
    height: 65px;
}

.top-c{
    position: absolute;
    margin-top: 6%;
    margin-left: 5%;
    width: 20%;
    height: 10%;
}


.bottom-c{
    position: absolute;
    margin-left: 10%;
    margin-bottom: 0px;
    width: 20%;
    height: 10%;
}

.mountain{
    width: 70%;
    height: 2%;
    margin-top: 40px;
}

.html{
    width: 100px;
    height: 100px;
}

.css{
    width: 100px;
    height: 100px;
}

.bootstrap{
    width: 100px;
    height: 100px;
}

.java{
    width: 100px;
    height: 100px;
}

.profile-pic{
    width: 100px;
    height: 100px;
}

.sound{
    width: 100px;
    height: 100px;
    float:right;
    margin-left: 30px;
}

.tv{
    width: 100px;
    height: 100px;
    float:left;
    margin-right:30px;
}

.skills{
    position: relative;
}

.skill-row
{
  width:50%;
  margin:50px auto 40px auto;
  text-align: left;
  display:inline-block;
  position: relative;
}

.skill-head{
    font-weight: bold;
}

.p-align
{
  margin:auto 0 auto 20px;
}

.contact-me{
    width: 40%;
    margin: 40px auto 100px;
}

.copyright{
    color: #eaf6f6;
    font-size: .75rem;
    padding: 20px 0px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb,  #2bc4ad);
    text-decoration: none;
  }