<div class="main-container">
    <div class="topContainer">
        <img class="penguin" src="/assets/logos/penguin-png-19535.png" alt="penguin image">
        <h1>I'm Survi Suman</h1>
        <h2><b>a Front-end <span class="pro">Web Developer</span> .</b></h2>
        <img class="mountain" src="/assets/logos/iceberg1.png" alt="mountain image">
    </div>

    <div class="middleContainer">
        <div class="Profile">
            <img class="profile-pic" src="/assets/logos/profile.jpg" alt="Survi's picture">
            <h2>Hello.</h2>
            <p class="intro">
                I'm a passionate Front-End Web Developer based in Bengaluru, India, with a keen eye for
                design and innovation.
            </p>
            <p class="intro">
                I thrive on crafting visually stunning and user-friendly web interfaces. My quick learning ability and
                strong collaborative skills allow me to seamlessly integrate into any team, fostering a productive and
                creative work environment. I am always eager to explore new ideas and incorporate cutting-edge design
                trends into my projects, ensuring they are both functional and aesthetically pleasing. Please take a
                moment to review the list of my skills. </p>
        </div>
        <hr>
        <div class="Skills">
            <h2>My Skills.</h2>
            <img class="html" src="/assets/logos/angular.png" alt="angular icon">&nbsp;
            <img class="html" src="/assets/logos/javascript.png" alt="javascript icon">&nbsp;
            <img class="html" src="/assets/logos/typescript.png" alt="typescript icon">&nbsp;
            <img class="html" src="/assets/logos/ionic.png" alt="ionic icon">&nbsp;
            <img class="html" src="/assets/logos/html5.png" alt="html icon">&nbsp;
            <img class="html" src="/assets/logos/css-3.png" alt="css icon">&nbsp;
            <img class="html" src="/assets/logos/bootstrap.png" alt="bootstrap icon">&nbsp;
            <img class="html" src="/assets/logos/sql.png" alt="sql icon">&nbsp;
            <img class="html" src="/assets/logos/java.png" alt="java icon">&nbsp;
            <img class="html" src="/assets/logos/go.png" alt="Go icon">
            <hr>
            <div class="skill-row">
                <div class="p-align">
                    <img class="sound" src="/assets/logos/sound.png" alt="sounf image">
                    <h3 class="skill-head">Music</h3>
                    <p>They say British people have a real passion for music, but i am an Indian and I love to
                        talk about the latest songs I have heard or music I already know and love.</p>
                </div>
            </div>
            <div class="skill-row">
                <div class="p-align">
                    <img class="tv" src="/assets/logos/Television-PNG-Clipart.png">
                    <br>
                    <h3 class="skill-head">TV Series</h3>
                    <p>Obviously at free times who doesn't watch TV Series? </p>
                </div>
            </div>
            <div class="skill-row">
                <div class="p-align">
                    <img class="sound" src="/assets/logos/vlog1.png">
                    <br>
                    <h3 class="skill-head">Vlogging and Content Creation</h3>
                    <p>In my free time, I immerse myself in vlogging and content creation, a passion I cherish as a form
                        of personal fulfillment and creative expression.</p>
                </div>
            </div>
        </div>
        <hr>

        <div class="contact-me">
            <h2> Get in touch.</h2>
            <h3>If you love designing as much i do.</h3>
            <p>Love designing as much i do? Let's talk about how awesome they are!<br> We can code together.</p>
            <a class="btn" href="mailto:sumansurvi.ss@gmail.com">Contact me!</a>
        </div>
    </div>

    <div class="bottomContainer">
        <a class="footer-link" href="https://www.linkedin.com/in/survi-suman/">linkedIn</a>&nbsp;
        <a class="footer-link" href="https://github.com/sumansurvi">GitHub</a>
        <p class="copyright">© 2024 Survi Suman</p>
    </div>
</div>